<table class="breadcrumbs" summary="Stacks">
  <tr><td span=2><%= link_to "Stacks", interests_path %> >
	 			 <%= link_to @interest.interest_desc, interest_path(@interest.id) %> >
				 <%= @title %>
  </td></tr>
</table>

<% if !@my_answers.empty? && @grouped_answers %>
<%= render 'shared/stkchart_pie' %>
<% end %>

<% if @my_answers.empty? %>
<%= form_for @answer do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<%= render :partial => 'answers/answer_form', :locals => { :f => f, :madlibs => "true" } %>
<% end %>
<% end %>

<% if !@my_answers.empty? %>

<h3 class="qa">Relevant Q&A articles 
<% if current_user.admin? || @stack.created_by?(current_user) %>
(<%= link_to "Add Q&A", new_stack_qa_path(@stack) %>)
<% end %>
</h3>
<hr>

<table class="qa" summary="Q&A">
<% if @qas.empty? %>
  <tr><td span=2>

	<!-- TODO: For demo purposes only -->
	<span class="qa_links">
	<a href="http://parenting.stackexchange.com/questions/1925/how-can-we-discipline-a-strong-willed-misbehaving-5-year-old"><img src="http://alwayson.goingon.com/files/imagecache/ao_story_image_inside/story_image/QuoraLogo.gif" height=15px> How can we discipline a strong-willed misbehaving 5-year-old?</a><br/>
	<a href="http://parenting.stackexchange.com/questions/231/what-factors-should-you-consider-when-deciding-how-much-to-pay-a-babysitter"><img src="http://upload.wikimedia.org/wikipedia/en/6/6f/Stack_Exchange_Logo.png" height=15px> Factors to consider when deciding how much to pay a babysitter.</a><br/>
	<a href="http://parenting.stackexchange.com/questions/201/what-can-i-do-to-encourage-my-12-year-old-son-to-enjoy-productive-activities"><img src="http://startupmeme.com/wp-content/uploads/2007/03/yahooanswers-logo.JPG" height=15px> Productive activities for a 12-year-old young man.</a><br/>
	</span>
	
  </td></tr>
<% else %>
  <tr><td span=2 class="qa_links"><%= render @qas %></td></tr>
<% end %>
</table>

<% end %>

<span class="created_by"><em>Created by:</em> <%= gravatar_for @stack_creator, :size => 15 %> <%= link_to @stack_creator.name, @stack_creator %></span><br/><br/>

<% if current_user.admin? || @stack.created_by?(current_user) %>

<table class="choices" summary="Choices">
<% if @choices.empty? %>
  <tr>
	<td span=2>No Choices (<%= link_to "Add Choice", new_stack_choice_path(@stack) %>)</td>
  </tr>
<% else %>
  <tr>
	<td span=2>Choices (<%= link_to "Add Choice", new_stack_choice_path(@stack) %>)</td>
  </tr>
  <tr><td span=2><%= render @choices %></td></tr>
<% end %>
</table>

<table class="answers" summary="Answers">
<% if @answers.empty? %>
  <tr><td span=2>No Answers.</td></tr>
<% else %>
  <tr><td span=2>Answers</td></tr>
  <%= render @answers, :with_question => nil %>
<% end %>
</table>

<h2>Send Stack</h2>
<em>Email this stack to the email address entered below. Comment not used currently</em><br/>
<%= form_tag "/send_stack_form" do -%>
<%= hidden_field "contact", :stack_id, :value => @stack.id %>
<table>
<tr>
<td><label for="send_to_email">Email Address to Send Stack:</label></td>
<td width="60%"><%= text_field "contact", "email", :size => 40 %></td>
</tr>
<tr>
<td><label for="comment_body">Comment:</label></td>
<td><%= text_field "contact", "comment", :size => 40 %></td>
</tr>
</table>

<input type="submit" value="Send Stack" class="primary" />
<% end -%>

<% end %>