<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
  <div id="toggle_admin">
  <% if user.admin? %>
  | admin = <%= user.admin? %>
  <% else %>
	<%= form_for user,
				 :html => { :method => :toggle_admin },
	             :remote => true do |f| %>
	  <div class="actions"><%= f.submit "Toggle Admin" %></div>
	<% end %>
  <% end %>
  </div>
</li>

