<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
    | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
  <span id="toggle_admin<%= user.id %>" class="toggle_admin">
  <% if user.admin? %>
    | <img src="http://icons.iconarchive.com/icons/iconshock/real-vista-development/256/admin-privilege-icon.png" height="25">
  <% else %>
  <% end %>
  </span>
  <%= form_for user, :html => { :method => :toggle_admin }, :remote => true do |f| %>
    <%= f.submit "Toggle Admin", :class => "toggle_admin_button" %>
  <% end %>
</li>

