<table class="front" summary="Edit User Profile">
  <tr>
    <td class="main">
      <h1>
		<%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
	  <div style="margin-top:-20px"><a href="http://gravatar.com/emails" target="_blank">change</a></div><br/>
	  <%= form_for(@user) do |f| %>
		<%= render 'fields', :f => f %>
		<div class="actions">
		  <%= f.submit "Update" %>
		</div>
	  <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
	  <% if !@user_interests.empty? %>
	  <strong>Following:</strong>
	  <%= render @user_interests %>
	  <% end %>
    </td>
  </tr>
</table>
