<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<p>Existing user? <%= link_to "Sign in now!", signin_path %></p>

<br/>
session.inspect = <%= session.inspect %>
