<table summary="User Interests listing">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>

      <% unless @interests.empty? %>
        <ul class="interests">
          <%= render @interests %>
        </ul>
        <%= will_paginate @interests %>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>