<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @answers.empty? %>
		<% if Interest.count == 0 %>
      	  <br/><h3>Wow! No Stacks!<br/>Do you want to <%= link_to "create the first Stack Category?", new_interest_path %></h3>
		<% else %>
		  <% if Stack.count == 0 %>
      	    <br/><h3>Wow! No Stacks!<br/><%= link_to "Create some Stacks!", interests_path %></h3>
		  <% end %>
		<% end %>
		<% if @user_interests.empty? %>
  	      <br/><h3><%= link_to "Follow some Stacks!", interests_path %></h3>
	    <% else %>
	      <%= render @user_interests %>
	    <% end %>
      <% else %>
		<table class="answers" summary="Answers">
		<% if @answers.empty? %>
		  <tr><td span=2>No Answers.</td></tr>
		<% else %>
		  <tr><td span=2>Answers</td></tr>
		  <%= render @answers, :with_question => :true, :answered => :true %>
		<% end %>
		</table>
        <%= will_paginate @answers %>
      <% end %>
    </td>
  </tr>
</table>
