<% @chart_width ||= 500 %>
<% @chart_height ||= 400 %>
<% @chart_legend ||= 'top' %>
<% @chart_bg_color ||= 'white' %>
<% @chart_colors = Array.new(@grouped_answers.count) %>
<% @chart_colors.fill("grey", 0, @grouped_answers.count) %>
<!-- I can't believe I'm writing code like this! -->
<% @chart_colors = @chart_colors.each_with_index.map { |c,i| "rgb(#{150+i*20},#{150+i*20},#{150+i*20})" } %>
<% if @my_choice_index %>
  <% @chart_colors[@my_choice_index] = "red" %>
<% end %>

<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart', 'table']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table, 
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

	  // Create the data table.
	  var data = new google.visualization.DataTable();
	  data.addColumn('string', 'Choice');
	  data.addColumn('number', 'Count');

	  // raw required so quotes are not escaped
	  data.addRows([<%=raw @grouped_answers.map { |a| a.inspect }.join(',') %>]);

	  // Set chart options
	  var options = {
	    'width': <%= @chart_width %>,
	    'height':<%= @chart_height %>,
		'colors': [<%=raw @chart_colors.map { |a| a.inspect }.join(',') %>],
		'pieSliceText': 'percent',
		'backgroundColor': '<%= @chart_bg_color %>',
		'legend': '<%= @chart_legend %>'
	  };

	  // Instantiate and draw our chart, passing in some options.
	  var chart = new google.visualization.PieChart(document.getElementById('chart_div<%= @stack.id %>'));
	  chart.draw(data, options);
	  // var table = new google.visualization.Table(document.getElementById('table_div'));
	  // table.draw(data);
  }
</script>

<!--Div that will hold chart-->
<div id="chart_div<%= @stack.id %>" class="chart_div"></div><br/>
<div id="table_div"></div><br/>

