<% with_question &&= "t" %>
<% answered &&= "t" %>
<tr>
  <td class="answer">
	<% if with_question %>
	<div class="stack"><%= link_to Stack.find(answer.stack_id).question, stack_path(answer.stack_id) %></div>
	<% end %>
  	<div class="choice"><%= Choice.find(answer.choice_id).choice_text %></div>
    <div class="timestamp">
	  <% if answered %>
      Answered <%= time_ago_in_words(answer.created_at) %> ago.
	  <% else %>
      Last answered <%= time_ago_in_words(answer.created_at) %> ago.
	  <% end %>
    </span>
  </td>
  <% if current_user?(answer.user) %>
  <td>
    <%= link_to "delete", answer, :method => :delete,
                                  :confirm => "You sure?",
                                  :title => answer.choice_id %>
  </td>
  <% end %>
</tr>

