  <% if @stack.id == 1 && madlibs == "true" %> 
  <div class="mad-libs">
	<table>
	  <tr>
	    <td style="vertical-align:top"><div class="begin-quote">&#8220;</div></td>
	    <td class="madlibs-content round">
	    I pay my babysitter
	    <%= f.hidden_field :stack_id, :value => @stack.id %>
		<% @cp = Array.new %>
		<% @choices.map { |c| @cp << [c.choice_text, c.id] } %>
	    <%= f.select :choice_id, @cp %>
	    dollars per hour
	    </td>
	    <td style="vertical-align:bottom"><div class="end-quote">&#8221;</div></td>
	  </tr>
	</table>
	<br/>
	<!-- This submit button needs to be in the div to be styled properly -->
    <%= f.submit "Stack Me Up", :class => "submit_button round" %>
  </div>
  <% else %>
    <div class="stack_question_plain round">
	<%= @stack.question %>
	<br/>
	<br/>
	<%= f.hidden_field :stack_id, :value => @stack.id %>
	<% @cp = Array.new %>
	<% @choices.map { |c| @cp << [c.choice_text, c.id] } %>
	<%= f.select :choice_id, @cp, {}, {:class => "form_select"} %>
    </div>
	<br/>
    <%= f.submit "Stack Me Up", :class => "stack_me_up_button round" %>
  <% end %>
