<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="question">Stack of the Day</h1>
		<%= form_for @answer do |f| %>
		  <%= render 'shared/error_messages', :object => f.object %>
		  <%= render :partial => 'answers/answer_form', :locals => { :f => f, :madlibs => "true" } %>
		<% end %>
        <% # render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
  <% if @grouped_answers %>
	<%= render 'shared/stkchart_pie' %>
  <% end %>

<% else %>
  <p>
	<% if @stack && @choices %>
	<%= form_for @answer do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	  <%= render :partial => 'answers/answer_form', :locals => { :f => f, :madlibs => "true" } %>
	<% end %>
	<% end %>
  </p>

  <!-- <%= link_to "Stack Me Up!", signup_path, :class => "signup_button round" %> -->

  <div class="tagline">
    Simple Purposeful Comparisons
  </div>
<% end %>

<br/>
session.inspect = <%= session.inspect %>
