<div class="title"><%= @title %></div>
<div class="add_category">
    <%= link_to "Add Category", new_interest_path %><br />
</div>

<table class="interests" summary="Stack Categories">
  <tr>
    <td span=2 class="plain">
      <% unless @interests.empty? %>
		<div class="interest_list">
		<%= will_paginate %>
		  <%= render @interests %>
		<%= will_paginate %>
		</div>
      <% end %>
    </td>
  </tr>
</table>

