<div class="breadcrumbs" summary="Stack Categories">
  <%= link_to "Stacks", interests_path %> > <%= @title %>
</div>

<div class="interest_show_header">
<div class="interest_show_icon"><img src="<%= @interest.icon %>" width=35></div>
<div class="interest_show_title"><%= @title %></div>
<div class="interest_show_follow"><%= render 'interested_in_form' if signed_in? %></div>
<div class="interest_show_add_stack">
      <%= link_to "Add Stack", new_interest_stack_path(@interest) %>
</div>
</div>

<table class="stacks" summary="Stack Categories">
<% if @interest.stacks.empty? %>
  <tr><td span=2>No Stacks.</td></tr>
<% else %>
  <%= render @stacks %>
<% end %>
</table>
